* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;


}

.upper-content {

    background-color: aquamarine;

    position: relative;
    height: calc(100vh - 100px);
}

footer {
    height: 100px;

    background-color: #282828;
}

.sidebar {
    position: absolute;
    width: 230px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
}

main {
    height: 100%;

    margin-left: 230px;
    overflow-y: auto;
    background-color: #141922;
}

header {
    height: 80px;
    background-color: black;
    position: sticky;
    top: 0;
    text-align: right;


}

#upgrade-button {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 80px;
    border: 1px solid white;
    display: inline;
    border-radius: 30px;
    padding: 16px;
    font-size: 10px;
}

/* utility */

.color-white {
    color: white;
}