* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;


}

img {
    width: 100%;
}

.upper-content {

    background-color: aquamarine;

    position: relative;
    height: calc(100vh - 100px);
}



/* sidebar */


.sidebar {
    position: absolute;
    width: 230px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;

    display: flex;
    flex-direction: column;
}

.upper-sidebar {
    height: calc(100% - 90px);
}

.sidebar-footer {
    height: 90px;
}



/* header e bottone upgrade */

header {
    height: 80px;
    background-color: black;
    position: sticky;
    top: 0;
    text-align: right;
    opacity: 0.8;


}

#upgrade-button {


    line-height: 80px;
    border: 1px solid white;
    display: inline;
    border-radius: 30px;
    padding: 16px;
    font-size: 10px;
}


/* barra laterale */

li {
    margin-bottom: 20px;
}

.logo {
    padding-top: 10px;
    margin-bottom: 30px;
}

.line{height: 1px;
background-color: white;
width: 90%;}



/* main */

main {
    height: 100%;

    margin-left: 230px;
    overflow-y: auto;
    background-color: #141922;
}




/* menu sopra le canzoni */

.song-menu {
    justify-content: center;
}

.song-menu-items {
    margin: 30px;
}

/* parte centrale delle canzoni  */

h3 {
    font-size: 30px;
    color: white;
    padding-left: 20px;
}

h4 {
    color: white;
}

h5 {
    color: rgba(196, 196, 196, 0.562);
}

.song-row {
    display: flex;

}

.song-col {
    width: calc(100% / 6 - 20px);
    text-align: center;
    padding: 20px;
}

.song-container {
    padding: 30px;
}


/* footer */

footer {
    height: 100px;
    background-color: #282828;
}


/* sezione footer sinistra */



.footer-left {
    width: 20%;

    display: flex;
    align-items: center;
}

figure {
    width: 50px;
    height: 50px;
}


.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-left-actions {
    line-height: 50px;
}

.footer-left-actions .fa-regular {
    margin: 0 2px;
}

.footer-left-actions {
    margin-left: 20px;
}

/* footer centrale */
.footer-centre {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-bar .fa-solid {
    margin: 0 20px;
}

.bar {
    background-color: grey;
    height: 5px;
    width: 50%;
    border-radius: 20px;
}

.bar::after {
    content: '';
    display: block;
    background-color: white;
    height: 100%;
    width: 20%;
    border-radius: 20px
}

.status-bar {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

.min-bar {
    line-height: 5px;
    margin: 0 20px;
}



/* footer destra */

.footer-right {
    width: 20%;
    align-items: center;
}

.volume {
    width: 50%;
    background-color: gray;
    height: 5px;
    border-radius: 20px;
}

.volume::after {
    content: '';
    display: block;
    background-color: white;
    height: 100%;
    width: 30%;
}

.footer-right .fa-solid {
    margin: 0 10px;
}

/* utility */

.color-white {
    color: white;
}

.color-lightgrey {
    color: rgba(196, 196, 196, 0.562);
}

.uppercase {
    text-transform: uppercase;
}

.font-weight {
    font-weight: 600
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.list-none {
    list-style-type: none;
}

.padding-left-20 {
    padding-left: 20px;
}

.flex {
    display: flex;
}

.spacebetween {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.padding-left-20 {
    padding-left: 20px;
}

.border-radius-50 {
    border-radius: 50%;
}


.mg-1 {
    margin: 0 10px;
}

.mg-2 {
    margin: 0 20px;
}

.mg-right-1{margin-right: 10px;}

.mg-right-2 {
    margin-right: 20px;
}

